<div class="mt-20 mb-10 pl-7 ">
  <div class="text-2xl">Jordan Dri-FIT Sport</div>
  <div class="w-56 font-medium mb-4">Men's Graphic Fleece Pullover Hoodie</div>

  <div class="font-medium">1,629,000</div>
</div>

<div class="mb-8">
  <img
    src="https://static.nike.com/a/images/t_PDP_1280_v1/f_auto,b_rgb:f5f5f5,u_126ab356-44d8-4a06-89b4-fcdcc8df0245,c_scale,fl_relative,w_1.0,h_1.0,fl_layer_apply/099ffaf8-a2de-46f9-81ca-bfd42bce2ab5/jordan-dri-fit-sport-graphic-fleece-pullover-hoodie-pb3D3K.png"
    alt=""
    class="w-auto h-auto object-cover">
</div>

<div class="flex flex-col justify-center text-center">
  <div>
    <button type="button"
            class="w-56 h-14 text-white bg-gray-800 hover:bg-gray-900 focus:outline-none focus:ring-4 focus:ring-gray-300 font-medium rounded-full text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-gray-800 dark:hover:bg-gray-700 dark:focus:ring-gray-700 dark:border-gray-700">
      Add to Bag
    </button>
  </div>
  <div>
    <button type="button"
            class="w-56 h-14 text-gray-900 bg-white border border-gray-300 focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-gray-200 font-medium rounded-full text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-gray-800 dark:text-white dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:border-gray-600 dark:focus:ring-gray-700">
      Light
    </button>
  </div>
</div>

<div class="p-10">
  <p>Whether you're sinking shots or rollin' through the city with your crew, do it with some edge. This mid-weight
    fleece hoodie features a layered sleeve design, but all the other frills are pared back: no ribbed hem or
    drawstrings to get in the way of your look.</p>
</div>
