<!--sub-nav-->
<div
  class="hidden md:block md:bg-gray-100 md:text-sm md:font-medium md:h-10 md:flex md:items-center md:justify-end pr-9 md:space-x-1">
  <div class="px-2">Find a Store</div>
  <div class=" px-2 border-l-2 border-black">Help</div>
  <div class="px-2 border-l-2 border-black">Join Us</div>
  <div class="px-2 border-l-2 border-black">Sign In</div>
</div>

<div class="flex items-center justify-between">
  <div routerLink="home" class="cursor-pointer">
    <img loading="lazy" src="assets/icons/nike.png" alt="" class="w-22 h-16 ml-10">
  </div>
  <div class="flex w-40 space-x-1.5 mr-10 md:hidden ">
    <img loading="lazy" src="assets/icons/search.png" alt="" class="w-10 h-5 pl-4">
    <img loading="lazy" src="assets/icons/market.png" alt="" class="w-10 h-5 pl-4">
    <img loading="lazy" src="assets/icons/user.png" alt="" class="w-10 h-5 pl-4">
    <img loading="lazy" src="assets/icons/menu.png" alt="" class="w-10 h-5 pl-4">
  </div>

  <div class="hidden md:block md:w-3/4 md:flex md:justify-end md:items-center md:space-x-4 md:pr-10 ">
    <div class="text-lg font-medium px-5 cursor-pointer hover:underline decoration-solid ">Men</div>
    <div class="text-lg font-medium px-5 cursor-pointer hover:underline decoration-solid">Women</div>
    <div class="text-lg font-medium px-5 cursor-pointer hover:underline decoration-solid">Kid</div>
    <div><input type="text" placeholder="Search" class="h-12 w-40 bg-gray-50 rounded-2xl pl-5 ml-5 lg:ml-72"></div>
    <div><img loading="lazy" src="assets/icons/heart.png" alt="" class="w-10 h-6 pl-4"></div>
    <div><img loading="lazy" src="assets/icons/market.png" alt="" class="w-10 h-6 pl-4"></div>
  </div>
</div>


