<!--<div class=" ml-8 mt-16 text-2xl mb-9">Men's Clothing <span class="hidden lg:inline-block">({{cardData.length}})</span></div>-->

<!--<div class="block ml-8 lg:hidden">-->
<!--  <div class="text-gray-400">{{cardData.length}} Results</div>-->
<!--</div>-->
<!--<div class="flex mb-16">-->
<!--  <div class="hidden ml-10 w-2/12 h-screen overflow-y-scroll scroll-smooth lg:block">-->
<!--    <div class="border-b-2 border-gray-200 pb-20 w-52">-->
<!--      <div class="text-lg font-medium mb-3 w-36">Tops & T-Shirts</div>-->
<!--      <div class="text-lg font-medium mb-3 w-36">Hoodies & Sweatshirts</div>-->
<!--      <div class="text-lg font-medium mb-3 w-36">Jackets</div>-->
<!--      <div class="text-lg font-medium mb-3 w-36">Trousers & Tights</div>-->
<!--      <div class="text-lg font-medium mb-3 w-36">Tracksuits</div>-->
<!--      <div class="text-lg font-medium mb-3 w-36">Shorts</div>-->
<!--      <div class="text-lg font-medium mb-3 w-36">Compress & Base layer</div>-->
<!--      <div class="text-lg font-medium w-36">Socks</div>-->
<!--    </div>-->

<!--    <div class="border-b-2 border-gray-200 pb-3 pt-3 w-52">-->
<!--      <div class="text-lg font-bold mb-5">Gender</div>-->
<!--      <div>-->
<!--        <input type="checkbox" class="text-lg font-medium mb-3 mr-2">Men-->
<!--      </div>-->
<!--      <div>-->
<!--        <input type="checkbox" class="text-lg font-medium mb-3 mr-2">Women-->
<!--      </div>-->
<!--      <div>-->
<!--        <input type="checkbox" class="text-lg font-medium mb-3 mr-2">Unisex-->
<!--      </div>-->
<!--    </div>-->

<!--    <div class="border-b-2 border-gray-200 pb-3 pt-3 w-52">-->
<!--      <div class="text-lg font-bold mb-5">Fit</div>-->
<!--      <div>-->
<!--        <input type="checkbox" class="text-lg font-medium mb-3 mr-2">Oversize-->
<!--      </div>-->
<!--      <div>-->
<!--        <input type="checkbox" class="text-lg font-medium mb-3 mr-2">Loose-->
<!--      </div>-->
<!--      <div>-->
<!--        <input type="checkbox" class="text-lg font-medium mb-3 mr-2">Slim-->
<!--      </div>-->
<!--      <div>-->
<!--        <input type="checkbox" class="text-lg font-medium mb-3 mr-2">Standard-->
<!--      </div>-->
<!--      <div>-->
<!--        <input type="checkbox" class="text-lg font-medium mb-3 mr-2">Tight-->
<!--      </div>-->
<!--    </div>-->

<!--    <div class="border-b-2 border-gray-200 pb-3 pt-3 w-52">-->
<!--      <div class="text-lg font-bold mb-5">Sale & Offers</div>-->
<!--      <div>-->
<!--        <input type="checkbox" class="text-lg font-medium mb-3 mr-2">Sale-->
<!--      </div>-->
<!--    </div>-->

<!--    <div class="border-b-2 border-gray-200 pb-3 pt-3 w-52">-->
<!--      <div class="text-lg font-bold mb-5">Shop By Price</div>-->
<!--      <div>-->
<!--        <input type="checkbox" class="text-lg font-medium mb-3 mr-2">Under 1,000,000-->
<!--      </div>-->
<!--      <div>-->
<!--        <input type="checkbox" class="text-lg font-medium mb-3 mr-2">1,000,000 - 2,000,000-->
<!--      </div>-->
<!--      <div>-->
<!--        <input type="checkbox" class="text-lg font-medium mb-3 mr-2">2,000,000 - 4,999,999-->
<!--      </div>-->
<!--      <div>-->
<!--        <input type="checkbox" class="text-lg font-medium mb-3 mr-2">Over 5,000,000-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->

<!--  <div class="w-full flex flex-wrap justify-center m-auto h-auto lg:w-8/12 ">-->
<!--    <div *ngFor="let card of cardData" class="flex-grow-1 basis-1/4 mt-2 mx-1">-->
<!--      <app-product-card [data]="card"></app-product-card>-->
<!--    </div>-->
<!--  </div>-->


<!--</div>-->

<div class=" ml-8 mt-16 text-2xl mb-9">Men's Clothing <span class="hidden lg:inline-block">({{productList.length}})</span></div>

<div class="block ml-8 lg:hidden">
  <div class="text-gray-400">{{productList.length}} Results</div>
</div>
<div class="flex mb-16">
  <div class="hidden ml-10 w-2/12 h-screen overflow-y-scroll scroll-smooth lg:block">
    <div class="border-b-2 border-gray-200 pb-20 w-52">
      <div class="text-lg font-medium mb-3 w-36">Tops & T-Shirts</div>
      <div class="text-lg font-medium mb-3 w-36">Hoodies & Sweatshirts</div>
      <div class="text-lg font-medium mb-3 w-36">Jackets</div>
      <div class="text-lg font-medium mb-3 w-36">Trousers & Tights</div>
      <div class="text-lg font-medium mb-3 w-36">Tracksuits</div>
      <div class="text-lg font-medium mb-3 w-36">Shorts</div>
      <div class="text-lg font-medium mb-3 w-36">Compress & Base layer</div>
      <div class="text-lg font-medium w-36">Socks</div>
    </div>

    <div class="border-b-2 border-gray-200 pb-3 pt-3 w-52">
      <div class="text-lg font-bold mb-5">Gender</div>
      <div>
        <input type="checkbox" class="text-lg font-medium mb-3 mr-2">Men
      </div>
      <div>
        <input type="checkbox" class="text-lg font-medium mb-3 mr-2">Women
      </div>
      <div>
        <input type="checkbox" class="text-lg font-medium mb-3 mr-2">Unisex
      </div>
    </div>

    <div class="border-b-2 border-gray-200 pb-3 pt-3 w-52">
      <div class="text-lg font-bold mb-5">Fit</div>
      <div>
        <input type="checkbox" class="text-lg font-medium mb-3 mr-2">Oversize
      </div>
      <div>
        <input type="checkbox" class="text-lg font-medium mb-3 mr-2">Loose
      </div>
      <div>
        <input type="checkbox" class="text-lg font-medium mb-3 mr-2">Slim
      </div>
      <div>
        <input type="checkbox" class="text-lg font-medium mb-3 mr-2">Standard
      </div>
      <div>
        <input type="checkbox" class="text-lg font-medium mb-3 mr-2">Tight
      </div>
    </div>

    <div class="border-b-2 border-gray-200 pb-3 pt-3 w-52">
      <div class="text-lg font-bold mb-5">Sale & Offers</div>
      <div>
        <input type="checkbox" class="text-lg font-medium mb-3 mr-2">Sale
      </div>
    </div>

    <div class="border-b-2 border-gray-200 pb-3 pt-3 w-52">
      <div class="text-lg font-bold mb-5">Shop By Price</div>
      <div>
        <input type="checkbox" class="text-lg font-medium mb-3 mr-2">Under 1,000,000
      </div>
      <div>
        <input type="checkbox" class="text-lg font-medium mb-3 mr-2">1,000,000 - 2,000,000
      </div>
      <div>
        <input type="checkbox" class="text-lg font-medium mb-3 mr-2">2,000,000 - 4,999,999
      </div>
      <div>
        <input type="checkbox" class="text-lg font-medium mb-3 mr-2">Over 5,000,000
      </div>
    </div>
  </div>

  <div class="w-full flex flex-wrap m-auto h-auto lg:w-10/12 lg:ml-10">
    <div *ngFor="let product of productList " class="flex-grow-1 basis-1/4 mt-2 mx-1">
      <app-product-card [data]="product"></app-product-card>
    </div>
  </div>


</div>
