<div class="px-8 h-80 w-full md:h-3/4">
  <img loading="lazy" src="assets/images/main-image-home.png" alt="home-main-image" class=" w-full h-full object-cover">
  <div class="mt-8 font-bold text-5xl lg:text-center">
    NIKE METCON 9
  </div>
  <div class="mt-6 text-base lg:text-center">
    Durability and stability for your strength training
  </div>

  <div class="mt-8 lg:text-center">
    <button class="rounded-3xl bg-black text-white px-5 py-2 font-light">Shop</button>
  </div>

  <div class="mt-16 text-xl">
    The Latest
  </div>
</div>

