<div class="px-8 h-80 mb-96 w-full md:h-3/4 sm:mb-10 md:mb-16 ">
  <img loading="lazy" src="assets/images/main-image-home.png" alt="home-main-image" class=" w-full h-full object-cover">
  <div class="mt-8 font-bold text-5xl sm:text-6xl lg:text-center">
    NIKE METCON 9
  </div>
  <div class="mt-6 text-base lg:text-center">
    Durability and stability for your strength training
  </div>

  <div class="mt-8 lg:text-center">
    <button class="rounded-3xl bg-black text-white px-5 py-2 font-light">Shop</button>
  </div>
</div>

<div class="mt-8 mb-8 text-2xl px-8 sm:mt-80 ">
  The Latest
</div>
<div class="flex flex-col justify-center items-center md:flex-row md:justify-center">
  <div class="w-full h-full px-8 md:pl-8 md:pr-2 mb-5 relative text-left md:w-1/2">
    <img loading="lazy" src="assets/images/latest-img-1.jpg" alt="" class="object-cover w-full h-full ">
    <div class="absolute bottom-10 text-sm text-white pl-12">Available on the Nike App from: 18 Sep <br> Nike Calm Slide
      <button class="block rounded-3xl bg-white text-black px-5 py-2 mt-6">Get It First</button>
    </div>
  </div>
  <div class="w-full h-full px-8 md:pr-8 md:pl-2 mb-5 relative text-left md:w-1/2">
    <img loading="lazy" src="assets/images/latest-img-2.jpg" alt="" class="object-cover w-full h-full ">
    <div class="absolute bottom-10 text-sm text-black pl-12"> Find Your Fast
      <button class="block rounded-3xl bg-black text-white px-5 py-2 mt-6">Get It First</button>
    </div>
  </div>

</div>

<div class="mt-16 mb-8 text-2xl px-8 ">
  Trending
</div>
<div class="flex flex-col justify-center items-center md:flex-row md:justify-center">
  <div class="w-full h-full px-8 md:pl-8 md:pr-2 mb-5 relative text-left md:w-1/2">
    <img loading="lazy" src="assets/images/trending-img-1.jpg" alt="" class="object-cover w-full h-full ">
    <div class="absolute bottom-10 text-sm text-white pl-12">Shop the Retro Edit
      <button class="block rounded-3xl bg-white text-black px-5 py-2 mt-6">Shop the Look</button>
    </div>
  </div>
  <div class="w-full h-full px-8 md:pl-2 md:pr-8 mb-5 relative text-left md:w-1/2">
    <img loading="lazy" src="assets/images/trending-img-2.jpg" alt="" class="object-cover w-full h-full ">
    <div class="absolute bottom-10 text-sm text-black pl-12"> On-Trend Retro Sneakers
      <button class="block rounded-3xl bg-black text-white px-5 py-2 mt-6">Shop Sneakers</button>
    </div>
  </div>

</div>

<div class="mt-16 mb-8 text-2xl px-8 ">
  Just In
</div>
<div class="px-8">
  <img loading="lazy" src="assets/images/just-in-img.jpg" alt="home-main-image" class=" w-full h-full object-cover">
</div>

<div class="mt-8 font-bold ml-8 text-6xl lg:text-center">
  EASY. ALL DAY.
</div>
<div class="mt-6 text-base ml-8 lg:text-center">
  Take your game to the next level in the new KD 16.
</div>

<div class="mt-8 lg:text-center ml-8 mb-8">
  <button class="rounded-3xl bg-black text-white px-5 py-2 font-light">Shop</button>
</div>


<div class="mt-16 mb-8 text-2xl px-8 ">
  Featured
</div>
<div class="flex flex-col justify-center items-center md:flex-row md:justify-center">
  <div class="w-full h-full px-8 md:pl-8 md:pr-2 mb-5 relative text-left md:w-1/2">
    <img loading="lazy" src="assets/images/featured-img-1.jpg" alt="" class="object-cover w-full h-full ">
    <div class="absolute bottom-10 text-sm text-white pl-12">Complete The Look
      <button class="block rounded-3xl bg-white text-black px-5 py-2 mt-6">Shop</button>
    </div>
  </div>
  <div class="w-full h-full px-8 md:pl-2 md:pr-8 mb-5 relative text-left md:w-1/2">
    <img loading="lazy" src="assets/images/featured-img-2.jpg" alt="" class="object-cover w-full h-full ">
    <div class="absolute bottom-10 text-sm text-black pl-12"> Nike Tech Hera <br> Step Up Your Style
      <button class="block rounded-3xl bg-black text-white px-5 py-2 mt-6">Shop Sneakers</button>
    </div>
  </div>
</div>

<div class="mt-16 mb-8 text-2xl px-8 ">
  Always On Repeat
</div>
<div class="flex flex-col justify-center items-center md:flex-row md:justify-center">
  <div class="w-full h-full px-8 md:pl-8 md:pr-2 mb-5 relative text-left md:w-1/2">
    <img loading="lazy" src="assets/images/always-repeat-img-1.jpg" alt="" class="object-cover w-full h-full ">
    <div class="bottom-10 text-sm flex justify-between mt-2">
      <span class="text-black">Nike Sportswear</span>
      <span class="text-black pr-5">1,379,000</span>
    </div>
    <div class="text-gray-400 text-sm">
      Men's Oversize T-shirt
    </div>
  </div>
  <div class="w-full h-full px-8 md:px-5 mb-5 relative text-left md:w-1/2">
    <img loading="lazy" src="assets/images/always-repeat-img-2.jpg" alt="" class="object-cover w-full h-full ">
    <div class="bottom-10 text-sm flex justify-between mt-2">
      <span class="text-black"> Nike Air Force 1 '07</span>
      <span class="text-black pr-5">2,929,000</span>
    </div>
    <div class="text-gray-400 text-sm">
      Men's Shoes
    </div>
  </div>
  <div class="w-full h-full px-8 md:pr-8 md:pl-2 mb-5 relative text-left md:w-1/2">
    <img loading="lazy" src="assets/images/always-repeat-img-3.jpg" alt="" class="object-cover w-full h-full ">
    <div class="bottom-10 text-sm flex justify-between mt-2">
      <span class="text-black">NikeCourt Dri-FIT Victory</span>
      <span class="text-black pr-5">1,019,000</span>
    </div>
    <div class="text-gray-400 text-sm">
      Men's 9" (23cm approx.) Tennis Shorts
    </div>
  </div>
</div>

<div class="mt-16 mb-8 text-2xl px-8 ">
  Don't Miss
</div>
<div class="px-8">
  <img loading="lazy" src="assets/images/dont-miss-img.jpg" alt="home-main-image" class=" w-full h-full object-cover">
</div>
<div class="text-xs lg:text-center ml-8 mt-8">Jordan Apparel</div>
<div class="font-bold text-5xl sm:text-6xl ml-8 lg:text-center">
  BROOKLYN FLEECE
</div>
<div class="mt-6 ml-8 w-48 md:w-full text-base lg:text-center">
  Stay fly this season in fleece featuring a cotton blend and gradient colour palettes inspired by the Chicago skyline.
</div>

<div class="mt-8 ml-8 lg:text-center mb-8">
  <button class="rounded-3xl bg-black text-white px-5 py-2 font-light">Shop</button>
</div>


<div class="mt-16 mb-8 text-2xl px-8 ">
  The Essentials
</div>
<div class=" mb-16 flex flex-col justify-center items-center md:flex-row md:justify-center">
  <div class="w-full h-full px-8 md:pl-8 md:pr-2 mb-5 relative text-left md:w-1/2">
    <img loading="lazy" src="assets/images/essentials-img-1.jpg" alt="" class="object-cover w-full h-full ">
    <div class="absolute bottom-10 text-sm text-white pl-12">
      <button class="block rounded-3xl bg-white text-black px-5 py-2 mt-6">Men's</button>
    </div>
  </div>
  <div class="w-full h-full px-8 md:px-5 mb-5 relative text-left md:w-1/2">
    <img loading="lazy" src="assets/images/essentials-img-2.jpg" alt="" class="object-cover w-full h-full ">
    <div class="absolute bottom-10 text-sm text-white pl-12">
      <button class="block rounded-3xl bg-white text-black px-5 py-2 mt-6">Women's</button>
    </div>
  </div>
  <div class="w-full h-full px-8 md:pr-8 md:pl-2 mb-5 relative text-left md:w-1/2">
    <img loading="lazy" src="assets/images/essentials-img-3.jpg" alt="" class="object-cover w-full h-full ">
    <div class="absolute bottom-10 text-sm text-white pl-12">
      <button class="block rounded-3xl bg-white text-black px-5 py-2 mt-6">Kid's</button>
    </div>
  </div>
</div>


